
@import "bootstrap/bootstrap";
@import "spider/spider";

.login {

	.input-group {
		margin-bottom: 5px;
	}
	.input-group-addon {
		min-width: 100px;
	}
}

.navbar-brand {
	img {
		width: 32px;
		margin-top: -8px;
	}
}

.nav.navbar-nav.navbar-right > li > a {
	font-size: 14px;
}

.ui-button {
	@extend .btn;
	@extend .btn-default;
}
