
@import "bootstrap/bootstrap";
@import "spider/spider";

.login {

	.input-group {
		margin-bottom: 5px;
	}
	.input-group-addon {
		min-width: 120px;
	}
}

.navbar-brand {
	img {
		width: 32px;
		margin-top: -8px;
	}
}

.nav.navbar-nav.navbar-right > li > a {
	font-size: 14px;
}

// .ui-button {
// 	@extend .btn;
// 	@extend .btn-default;
// }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background-color: $brand-primary !important;
	background-image: none;
}

.ui-menuitem-link.ui-corner-all.ui-state-hover {
	background-color: $brand-primary !important;
	background-image: none!important;	
}