<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>allUsers</display-name>
        <web-resource-collection>
            <web-resource-name>allUsersPages</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>matrona</role-name>
            <role-name>fonoaudiologo</role-name>
            <role-name>medico</role-name>
            <role-name>administrativo</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>admin</display-name>
        <web-resource-collection>
            <web-resource-name>adminPages</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>adminPagesAccount</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/admin/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>fonoaudiologo</display-name>
        <web-resource-collection>
            <web-resource-name>fonoaudiologoPages</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/fonoaudiologo/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>fonoaudiologo</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>matrona</display-name>
        <web-resource-collection>
            <web-resource-name>matronaPages</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/matrona/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>matrona</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>medico</display-name>
        <web-resource-collection>
            <web-resource-name>medicoPages</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/medico/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>medico</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>public</display-name>
        <web-resource-collection>
            <web-resource-name>accountPages</web-resource-name>
            <description/>
            <url-pattern>/faces/account/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>accountTypePages</web-resource-name>
            <description/>
            <url-pattern>/faces/accountType/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>administrativo</display-name>
        <web-resource-collection>
            <web-resource-name>administrativo</web-resource-name>
            <description/>
            <url-pattern>/faces/roles/administrativo/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>administrativo</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>newbornsRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/index.xhtml</form-login-page>
            <form-error-page>/faces/index.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>matrona</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>fonoaudiologo</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>medico</role-name>
    </security-role>
    <security-role>
        <description>Corresponde al rol de secretario/a</description>
        <role-name>administrativo</role-name>
    </security-role>
    
    <!-- web fonts -->
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot?#iefix</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>  
        <extension>otf</extension>  
        <mime-type>font/opentype</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>ttf</extension>  
        <mime-type>application/x-font-ttf</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>woff</extension>  
        <mime-type>application/x-font-woff</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>svg</extension>  
        <mime-type>image/svg+xml</mime-type>  
    </mime-mapping>    
    <mime-mapping>  
        <extension>svg#glyphicons_halflingsregular</extension>  
        <mime-type>image/svg+xml</mime-type>  
    </mime-mapping> 
</web-app>
