
.footer {
	min-height: $footer-height;
	background-color: $footer-back;
	border-top: 30px solid $brand-primary;
	color: $footer-text-color;

	.links {
		padding-top: 15px;

		ul {
			padding-left: 0px;
			list-style: none;
		}
	}

	.logo-usach {
		width: 127px;
		margin-top: 15px;
	}

	.about-us {
		padding-top: 15px;
	}
	a {
		color: $footer-link-color;
	}
}

@media (max-width: $screen-sm-max) {
	.footer-ghost { display: none; } 
	.footer { position: relative!important; margin-top: 50px; }
	
}
