
.navbar-brand {
	img {
		width: 32px;
		margin-top: -8px;
	}
}

.nav.navbar-nav.navbar-right > li > a {
	font-size: 14px;
}

.navbar {
	margin-bottom: 0px;
	border-bottom: 5px solid $line-color;

	.navbar-brand {
		font-family: 'Oswald', sans-serif;
		font-size: 23px;

		span:last-child {
			color: $line-color;
			font-weight: bold;
		}
		&:hover span:first-child { color: $line-color; }
		&:hover span:last-child { color: white; }		
	}
}