
$back-color: #2b3e50;
$back-second: #4e5d6c;

$body-second: #E7E7E7;

$line-color: #9ACD32; // yellowgreen
$sidebar-back: #242424;


$footer-height: 228px;
$footer-back: #4D4D4D;
$footer-link-color: #C0C0C0;
$footer-text-color: #C2C2C2;